*{
    box-sizing: border-box;
    outline: none;

}

.header{
    background-color: black;
    color: white;
    padding: 20px;
}

h1,ul,li{
    display: inline;
}


h1{
    padding-left: 170px;
    font-style: italic;
    font-size: xx-large;
}

li{
    padding-left: 80px;
    font-size: large ;
    cursor: pointer;
}

.aaa{
    padding-left: 120px;
}

li:hover{
    color: yellowgreen;
}

.bodySection {
    margin : 30px;
    margin-right:130px;
    margin-left:130px;
    overflow: hidden;
    margin-bottom: 50px;
    
}

.images-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cough {
    border-radius: 8px;
    position: relative;
}

.cough-text{
    margin:16px;
    padding:16px;
    position: absolute;
    bottom: 20px;
    /* border: 1px solid black; */
    width: 85%;
    background-color: #ffff;
    border-radius: 8px;
    

   
}

.cough-text h1 {
    font-weight: 600;
    padding-left: 0;
     font-style: normal;
     margin-bottom: 8px;
}

.cough-text h6 {
    font-weight: 400;
    text-align: left;
    margin-top: 8px;
    padding-left: 0;
     font-style: normal;
     font-size: 18px;
     margin-bottom: 0;
}

.section-container {
    margin:0px;
    margin-bottom: 50px;
}

.exploreBy h1 {
    padding-left: 0px;
}
.sectionTitle {
    width:100%;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccc;
}

.explore-image-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
}

.circle {
    width:"100%"
}

.circle img {
    height:180px;

}

.circle-text {
    text-align: center;
}

.circle-text h1  {
  padding-left:0;
}
.circle-text h2  {
    padding:0;
    margin:0;
    padding-top:10px;
    
  }


  .thisJustInContent{
    display: flex;
    flex-wrap: wrap;
    padding:0;
    padding-top: 30px ;
    padding-bottom: 30px ;
  }

  .thisJustInItemCard {
    display:flex;
    justify-content: space-between;
    width: 50%;
  }

  .thisJustInImage {
    height:140px;
    width :105px;
  }

  .thisJustInTextCard {
    margin:10px
  }

  .thisJustInTextCard h2 {
    margin:0px
  }

  .thisJustInTextCard p {
        margin-top: 10;
        margin-bottom: 20;
  }

.moreTopReadsContent {
    padding:0;
    padding-top: 30px ;
    padding-bottom: 30px ;
    display:flex;
    justify-content: space-between;
}

.moreTopReadItemCard {
    width:257px;
 
}

.moreTopReadItemCard img {
    width:257px;
    height:192px;
    border-radius: 8px;    
}

.moreTopReadItemCard p {
 font-weight: 600;
}

.healthConditionContent { 
    padding:0;
    padding-top: 30px ;
    padding-bottom: 30px ;
    display:flex;
    justify-content: space-between;
}

.healthConditionItemCard {
    display:flex;
    flex-direction: column;
    width:180px;
}

.healthConditionImage { 
    width:180px;
    height:180px;
    border-radius: 8px;
}

.productReviewItemCard{
    width:180px;
}

.productReviewItemCard img {
    width:180px;
}


.spotlightItemCard { 
    width:260px;
    height:390px;
}

.spotlightItemCard img {
    width:260px;
    height:390px;

}